@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ورود به سایت</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="/Admin/custom.css" rel="stylesheet">
    <link href="/css/iran-sans.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3>ورود به سایت</h3>
    <label asp-for="Email">ایمیل</label>
    <input asp-for="Email" type="text" placeholder="ایمیل" id="email">
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Password">کلمه عبور</label>
    <input asp-for="Password" type="password" placeholder="کلمه عبور" id="password">
    <span asp-validation-for="Password" class="text-danger"></span>

    <button type="submit" value="Create">ورود</button>
</form>
</body>
</html>
