@model IEnumerable<MyServicesViewModel>

<div class="section px-3 px-lg-4 pt-5" id="services">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">خدمات من</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:600px"> من خدمات زیر را به طور مناسب برای هر وبسایت و یا برنامه ای ارائه میدم</p>
        </div>
        <div class="row py-3" style="text-align: -webkit-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">
                        <img class="mb-2" src="~/images/services/@item.Image" width="96" height="96" alt="@item.Title"/>
                        <p class="h6">@item.Title</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>