@page
@model Resume_Project.Pages.Admin.Skills.CreateModel

<div id="flHorizontalForm" class="col-lg- layout-spacing" style="padding: 50px">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>افزودن مهارت</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="info">
                    <div class="row">
                        <div class="col-lg-11 mx-auto">
                            <div class="row">
                                <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label asp-for="MySkillsViewModel.Title" class="control-label">عنوان مهارت</label>
                                                    <input asp-for="MySkillsViewModel.Title" class="form-control"/>
                                                    <span asp-validation-for="MySkillsViewModel.Title" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <div class="custom-control custom-radio custom-control-inline form-group form-check">
                                                <input class="form-check-input" asp-for="MySkillsViewModel.Normal" /> @Html.DisplayNameFor(model => model.MySkillsViewModel.Normal)
                                                <label></label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline form-group form-check">
                                                <input class="form-check-input" asp-for="MySkillsViewModel.Medium" /> @Html.DisplayNameFor(model => model.MySkillsViewModel.Medium)
                                                <label></label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline form-group form-check">
                                                <input class="form-check-input" asp-for="MySkillsViewModel.Professional" /> @Html.DisplayNameFor(model => model.MySkillsViewModel.Professional)
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <input type="submit" class="btn mb-2 btn-success" value="افزودن مهارت"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
