<div class="section pt-4 px-3 px-lg-4" id="about">
    <div class="container-narrow">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h4 my-2">سلام من امیرحسین دشتی هستم.</h2>
                <p> برنامه نویس ، توسعه دهنده در حوزه ی وب و Asp.net Core. متولد 1384 در خراسان رضوی(قوچان) هستم. فعالیت خودم در زمینه برنامه نویسی  از سال 1400 شروع کردم. از سال 1401 تا کنون چند پروژه کوچیک از جمله وبسایت فست فود , وبسایت خبری , وبسایت پرسش و پاسخ برنامه نویسان و همچنین چند پروژه معمولی ویندوز مثل نرم افزار حساب داری و مخاطبین رو نوشتم. من عاشق برنامه نویسی هستم و دنبال یک دوست خوب برای همکاری هستم</p>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <div class="pb-1">Age: </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder">18</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Email: </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder">AmirDashtiDev@gmail.com</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="pb-1">Phone: </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="pb-1 fw-bolder">09302280604</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img class="avatar img-fluid mt-2" src="images/avatar.jpg" width="400" height="400" alt="Walter Patterson" /></div>
        </div>
    </div>
</div>