<header>
    <div class="cover bg-light">
        <div class="container px-3">
            <div class="row">
                <div class="col-lg-6 p-2"><img class="img-fluid" src="~/images/illustrations/hello3.svg" alt="hello" /></div>
                <div class="col-lg-6">
                    <div class="mt-5">
                        <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">امیرحسین دشتی</h1>
                        <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">هستم Back End Developer من یک</p>
                        <div class="social-nav" data-aos="fade-up" data-aos-delay="200">
                            <nav role="navigation">
                                <ul class="nav justify-content-left">
                                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/j_amir_j" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://t.me/ConnectionString" title="Telegram"><i class="fab fa-telegram"></i><span class="menu-title sr-only">Telegram</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://github.com/AmirHoseinDashti" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#about">درباره من <i class="fas fa-arrow-left"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-bg"></div>
</header>
@await Component.InvokeAsync("About")
@await Component.InvokeAsync("MyService")
@await Component.InvokeAsync("MySkill")
@await Component.InvokeAsync("Portfolio")
<partial name="Contact"/>

